#drawing-board {
    width: 500px;
    height: 500px;
    display: grid;
    border: 5px solid black;
    grid-template-columns: repeat(50, 1fr);
    grid-template-rows: repeat(50, 1fr); 
}

.pixel {
    background-color: black;
    opacity: 0;
}
